$colors: (
  dark-primary-color: #0288d1,
  default-primary-color: #03a9f4,
  light-primary-color: background: #b3e5fc,
  text-primary-color: #ffffff,
  accent-color: #ff9800,
  primary-text-color: #212121,
  secondary-text-color: #757575,
  divider-color: #bdbdbd,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}
