@import "_variables.scss";
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: color(light-primary-color);
}
.header-text-box {
  text-align: center;
  font: 400 5rem $mainFont;
}
.container {
  height: 125rem;
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.box {
  height: 35rem;
  width: 75vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: color(accent-color);
}
.box-title {
  font: 400 3rem $mainFont;
  margin: 0rem;
}
.box-text {
  font: 400 2rem $secondaryFont;
  margin: 0rem;
  padding: 0rem 2rem;
}
.image1 {
  width: 10rem;
}
.image2 {
  width: 9rem;
}
.image3 {
  width: 20rem;
}
