@import "_variables.scss" html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  /* font-family: "Titillium Web", sans-serif;
  font-family: "Mukta", sans-serif; */
  background-color: color(light-primary-color);
}
.header-text-box {
  text-align: center;
  font-size: 8em;
  font-family: "Roboto", sans-serif;
}
